body{
background-image:url("https://www.xtrafondos.com/wallpapers/resized/spider-man-ps4-hombre-arana-con-mano-empunada-2964.jpg?s=large");
background-repeat:no-repeat;
background-size:cover;
height:1000px;
}
li{
color:black;
}