{{#partial "content"}}

    <h1 style="font-weight:bold;margin-top:5%;margin-left:40%;color:white">Congratulations!!!</h1>
    <br>
    <br>
    <p style="text-align:center;color:white;font-size:28px">Your hero has been added.<a href="/nell">Back</a></p>


{{/partial}}

{{> layout.hbs}}