{{#partial "content"}}

    <h1 style="font-weight:bold;margin-top:5%;margin-left:40%;color:white">Well done!!!</h1>
    <p style="text-align:center;color:white;font-size:28px">Your squad has been created.<a href="/yes" style="color:#87ceeb">Back</a></p>
    <div class="container">
        <div class="well" style="width:30%;opacity:0.7;margin-left:40%;margin-top:3%">
            <p style="color:black;font-size:25px">Squad's name:{{name}} </p>
            <p style="color:black;font-size:25px">Squad's cause:{{cause}}</p>
            <p style="color:black;font-size:25px">Squad's size:{{size}}</p>
        </div>
    </div>




{{/partial}}

{{> layout.hbs}}