{{#partial "content"}}

    <h1>Add a new Squad!</h1>
    <div class="container">
        <div class="well" style="width:30%;opacity:0.7;margin-left:40%;margin-top:7%">
            <form action="/squad" method="post">
                <label for="name" style="margin-left:7px;">Name</label>
                <input id="name" name="name" type="text"  style="margin-left:12%;">
                <br>
                <label for="size" style="margin-left:7px;">Size</label>
                <input id="size" name="size" type="text"  style="margin-left:14%;">
                <br>
                <label for="cause" style="margin-left:7px;">Cause</label>
                <input id="cause" name="cause" type="text"  style="margin-left:10%;">
                <br>
                <button type="submit" class="btn btn-default">Go</button>
            </form>

        </div>
    </div>
{{/partial}}

{{> layout.hbs}}