{{#partial "content"}}

    <h1></h1>

    {{#if squad}}
        {{#each squad}}
            {{name}}
            {{size}}
            {{cause}}
        {{/each}}
    {{else}}
        <p>No squad added</p>
    {{/if}}

{{/partial}}

{{> layout.hbs}}