{{#partial "content"}}

    <h1></h1>

    {{#if squads1}}
        {{#each squads1}}

        {{/each}}
    {{else}}
        <p style="margin-left:33%;margin-top:7%;color:wheat;font-size:25px;font-weight:bold">THANK YOU FOR ADDING A SQUAD!</p>
    {{/if}}

{{/partial}}

{{> layout.hbs}}